---
import { getCollection } from "astro:content";

const allWork = await getCollection("all");
---

<section id="all">
  <table class="table__wrap">
    <thead>
      <tr class="row">
        <th class="td project" role="columnheader"><span>Project</span></th>
        <th class="td type" role="columnheader"><span>Type</span></th>
        <th class="td tags" role="columnheader"><span>Tags</span></th>
        <th class="td year" role="columnheader"><span>Year</span></th>
      </tr>
    </thead>
    <tbody>
      {
        allWork.map((work) => (
          <>
            <tr class="table__item">
              <td class="td project">
                <a href={work.data.link}>{work.data.project}</a>
              </td>
              <td class="td type">
                {" "}
                <a href={work.data.link}>{work.data.type}</a>
              </td>
              <td class="td tags">
                {" "}
                <a href={work.data.link}>
                  {work.data.tags.slice().sort().join(", ")}
                </a>
              </td>
              <td class="td year">
                <a href={work.data.link}>{work.data.year}</a>
              </td>
            </tr>
          </>
        ))
      }
    </tbody>
  </table>
</section>
