---
import Pill from "@components/Pill.astro";
const allWork = await Astro.glob("../pages/selected/*.md");
---

<section id="selected">
  {
    allWork.map((work) => (
      <>
        <section class="select__section">
          <div class="select__img">
            <a href={work.frontmatter.link}>
              <figure>
                <img class="lazy__load" src={work.frontmatter.thumb} />
              </figure>
            </a>
          </div>
          <span class="select__heading flow">
            <h3>{work.frontmatter.project}</h3>
            <p set:html={work.frontmatter.info} />{" "}
            <div class="tech">
              <div class="pills">
                {work.frontmatter.tags.sort().map((tag) => (
                  <Pill key={tag}>{tag}</Pill>
                ))}
              </div>
              <div>
                <a class="link" href={work.frontmatter.link} />
              </div>
            </div>
          </span>
        </section>
      </>
    ))
  }
</section>
