---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

const selectedEntry = await getCollection("selected");
---

<section id="selected">
  {
    selectedEntry.map((entry: any) => (
        <div class="select__section">
          <div class="select__img">
            <a href={entry.data.link}>
              <figure>
                <Image class="lazy__load" src={entry.data.thumb} alt="Project thumbnail" width={680} />
              </figure>
            </a>
          </div>
          <div class="select__info">
            <div class="select__heading">
              <div>
               <p><a class="link" href={entry.data.link}>{entry.data.project}</a></p>
              </div>
              <div>
               <p class="select__type">{entry.data.type}</p>
              </div>
           </div>
           <p>{entry.body}</p>
            </div>
           </div>
    ))
  }
</section>
