---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

const selectedEntry = await getCollection("selected");
---

<section id="selected">
  {
    selectedEntry.map((entry: any) => (
        <div class="select__section">
          <div class="select__img">
            <a href={entry.data.link} target="_blank">
              <figure>
                <Image class="lazy__load" src={entry.data.thumb} alt="Project thumbnail" width={680} />
              </figure>
            </a>
          </div>
          <div class="select__info">
            <div class="select__heading">
              <div>
               <p class="project__title"><a class="link" target="_blank" href={entry.data.link}>{entry.data.project}</a><span class="title__arrow"><svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.5 3.5H8.5M8.5 3.5V7.5M8.5 3.5L4 8" stroke="currentColor"></path></svg></span></p>
              </div>
              <div>
               <p class="select__type">{entry.data.type}</p>
              </div>
           </div>
           <p>{entry.body}</p>
            </div>
           </div>
    ))
  }
</section>


<style>

.title__arrow {
    display: inline-flex;
    opacity: 0;
    visibility: hidden;
    margin-left: 4px;
    transform: translateY(2px);
    transition: opacity var(--ease-0), visibility var(--ease-0);
  }

  .project__title:hover .title__arrow {
    opacity: 1;
    visibility: visible;
  }
</style>