---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Slider from "./Slider.astro";

const selectedEntry = (await getCollection("selected")).sort((a, b) =>
  a.data.project.localeCompare(b.data.project)
);
---

<section id='selected'>
  {
    selectedEntry.map((entry: any) => (
      <div class='select__section lazy__load'>
        <div class='select__img'>
          {entry.data.images ? (
            <Slider
              images={entry.data.images.map((src: any) => ({ src, alt: entry.data.project }))}
              project={entry.data.project}
              type={entry.data.type}
              link={entry.data.link}
            />
          ) : entry.data.thumb ? (
            <a href={entry.data.link} target='_blank'>
              <figure>
                <Image src={entry.data.thumb} alt='Project thumbnail' width={1400} />
              </figure>
            </a>
          ) : null}
        </div>
        <div class='select__info'>
          {!entry.data.images && (
            <div class='select__heading'>
              <div>
                <p class='project__title'>
                  <>
                    <a class='link' target='_blank' href={entry.data.link}>
                      {entry.data.project}
                    </a>
                  </>
                </p>
              </div>
              <div>
                <p class='select__type'>{entry.data.type}</p>
              </div>
            </div>
          )}
          <div class="select__body" set:html={entry.rendered?.html} />
        </div>
      </div>
    ))
  }
</section>

