---
import Pill from "@components/Pill.astro";

const allWork = await Astro.glob("../pages/selected/*.md");
---

<section id="selected">
  {
    allWork.map((work) => (
        <section class="select__section">
          <div class="select__img">
            <a href={work.frontmatter.link}>
              <figure>
                <img class="lazy__load" src={work.frontmatter.thumb} />
              </figure>
            </a>
          </div>
          <div class="select__info">
            <div class="select__heading">
              <div>
               <h3>{work.frontmatter.project}</h3>
              </div>
              <div>
               <h3>{work.frontmatter.type}</h3>
              </div>
           </div>
          </div>
            <p set:html={work.frontmatter.info} />
        </section>
    ))
  }
</section>
