---
import Pill from "@components/Pill.astro";
const allWork = await Astro.glob("../pages/selected/*.md");
---

<section id="selected" class="index__wrap">
  {
    allWork.map((work) => (
      <>
        <section class="index__section">
          <div class="index__img">
            <a href={work.frontmatter.link}>
              <figure>
                <img class="lazy__load" src={work.frontmatter.thumb} />
              </figure>
            </a>
          </div>
          <span class="index__heading flow">
            <h3>{work.frontmatter.project}</h3>
            <p set:html={work.frontmatter.info} />{" "}
            <div class="tech">
              <div class="pills">
                {work.frontmatter.tags.sort().map((tag) => (
                  <Pill key={tag}>{tag}</Pill>
                ))}
              </div>
              <div>
                <a class="link" href={work.frontmatter.link} />
              </div>
            </div>
          </span>
        </section>
      </>
    ))
  }
</section>

<style>
  .tech {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacer-s);
  }

  .pills {
    display: flex;
    gap: var(--spacer-s);
  }

  .link::before {
    content: "\2192";
    display: inline-block;
    transform: scale(1.5) rotate(-45deg);
  }
</style>
