---
import { Image } from "astro:assets";
const allWork = await Astro.glob("../pages/selected/*.md");
---

<section id="selected">
  {
    allWork.map((work) => (
        <section class="select__section">
          <div class="select__img">
            <a href={work.frontmatter.link}>
              <figure>
                <Image class="lazy__load" src={work.frontmatter.thumb} width={1200} alt="Project thumbnail"/>
              </figure>
            </a>
          </div>
          <div class="select__info">
            <div class="select__heading">
              <div>
               <p><a class="link" href={work.frontmatter.link}>{work.frontmatter.project}</a></p>
              </div>
              <div>
               <p>{work.frontmatter.type}</p>
              </div>
           </div>
            <p set:html={work.compiledContent()} />
            </div>
           </section>
    ))
  }
</section>
